body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.top-section{
    background-color: #1f2937;
    margin: -8px;
}

.header-items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}

.right-links{
    display: flex;
    gap: 10px;
}

.header-links{
    color: grey;
    font-weight: 400;
}

.title-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    padding-right: 5px;
}


.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;

}

.subtitle{
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.sign-up-button{
    background-color:cornflowerblue;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    width: 100px;
}

.image-placeholder{
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.image-section{
    display: flex;
    justify-content: center;
}

.info-header{
    margin: 50px;
    font-size: 38px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    
}

.image{
    border: 3px solid aqua;
    width: 200px;
    height: 200px;
    border-radius: 20px;  
    margin: 5px;
}

.image-holder{
    width: 200px;
    text-align: center;
    text-wrap: wrap;
    margin: 10px;
    margin-bottom: 100px;
}

.quote{
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
    background-color: #e5e7eb;
    margin: -8px;
    padding: 15px;
}

.words{
    width: 700px;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    text-wrap:stable;
}

.author{
    display: flex;
    justify-content: flex-end;
}
